/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@500&display=swap');
@font-face {
  font-family: 'GT Walsheim Pro';
  src: url(fonts/GTWalsheimPro-Regular.woff), format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Walsheim Pro';
  src: url(fonts/GTWalsheimPro-Regular.woff2), format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Walsheim Pro';
  src: url(fonts/GTWalsheimPro-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Walsheim Pro';
  src: url(fonts/GTWalsheimPro-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(fonts/GTWalsheimPro-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url(fonts/GTWalsheimPro-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* resets */
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a{
  text-decoration:none;
  font-weight: 400;
  color: #fff;
}

ul, li {
  list-style-type: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: E5E5E5;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
}
h1, h2, h3 {
  font-weight: 600;
  color: white;
  font-size: 70px;
}
/* styles */
body{
  width: 100%;
  background-color: #fff;
}
.main {
  margin-left: auto;
  margin-right: auto;
}
.first-section {
  background: linear-gradient(-14deg, #001F4E 0%, #00122D 100%), url(images/background-header.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat; 
  background-size: cover;
}
.header {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
}
.header_logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-text {
  color: #FFF;
  font-family: 'Proxima Nova';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.44%; /* 19.488px */
}
.header_navigation {
}
.navigation_list {
  display: flex;
  gap: 28px;
}
.navigation_item {
}
.navigation_item-list {
}
.blog_info {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
.blog_info-text {
}
.blog_info-title {
}
.blogblog_info-about {
}
.blog_info-button {
}